# Ejemplos de igtignore
# Ignora archivos del sistema Mac 
#.DS_store

# Ignora la carpeta node_modules
#node_modules

# Ignora todos los archivos de texto
#*.txt

# Ignora los archivos relacionados a API keys
#.env

# Ignora archivos de configuración SASS
#.sass-cache

# Aprender github: https://www.atlassian.com/es/git/tutorials/saving-changes/gitignore
# Para ignorar archivos o carpetas que ya han sido subidos
# y se quieren agregar al .gitignore
#git rm -r --cached debug.log
#git commit -m "Start ignoring debug.log"
#git rm -r --cached node_modules
#git commit -m "Start ignoring node_modules"

# Ignora la carpeta db del proyecto
.DS_store
node_modules
db

# Ignora archivos individuales
*.DS_Store
*.log
*.lnk
ideas.sql