<!-- Navigation-->
<app-menu></app-menu>
<!-- Header-->
<header class="bg-dark py-4">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">{{titulo}}</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        {{subtitulo}}
      </p>
    </div>
  </div>
</header>
<!-- Section-->
<router-outlet></router-outlet>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
  </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<!-- <script src="js/scripts.js"></script> -->
